*{
	font-family:lucida console;
}
h1{
	
	text-align: center;
}

	#head1{
		padding-top: 4px;
		height: 30px;
		font-size: 20px;
		text-align: center;
		background-color: pink;
		width: 30%;
		position: absolute;
		top :-1px;
		right: -1px;
		border: solid black 1px;
	}
	#head2{
		font-size: 20px;
		padding-top: 4px;
		height: 30px;
		text-align: center;
		background-color: red;
		color: white;
		width: 30%;
		position: absolute;
		top :-1px;
		right: -1px;
		border: solid black 1px;
	}
	#head3{
		padding-top: 4px;
		font-size: 20px;
		height: 30px;
		text-align: center;
		background-color: pink;
		background-color: #fcd387;
		width: 30%;
		position: absolute;
		top :-1px;
		right: -1px;
		border: solid black 1px;
	}
	
@media (min-width: 992px)
{
	div.insidebrow {
		position: relative;
		padding-top: 30px; 
		padding-left: 10px;
		margin:5px;
		height: auto;
		background-color: gray;
		float:left;
		width: 32%;
		border:solid black 1px;
	}
}
@media (min-width: 768px) and (max-width:991px)
{
	div.insidetab1{
		position: relative;
		padding-top: 30px; 
		padding-left: 10px;
		margin:5px;
		height: auto;
		background-color: gray;
		float:left;
		width: 48%;
		border:solid black 1px;
		
	}
	div.insidetab2{
		position: relative;
		padding-top: 30px; 
		padding-left: 10px;
		margin: 5px;
		height: auto;
		background-color: gray;
		float:left;
		width: 95%;
		border:solid black 1px;
		
	}
}
@media (max-width: 767px)
{
	div.insidemob
	{
		position: relative;
		padding-top: 30px; 
		padding-left: 10px;
		margin:5px;
		height: auto;
		background-color: gray;
		float:left;
		width: 95%;
		border:solid black 1px;
	}

}